<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

</head>

<body>

<!-- Main Container for my web -->
    <div class="main">

<!-- Header, navigation, logo for my web -->
        <header>
            <section class="topbanner">
                <div class="logo"><img src="logo.svg.png" alt="" width="60px" height="60px"></div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#resume">Resume</a></li>
                        <li><a href="#contact">Contact me</a></li>
                    </ul>
                </nav>
            </section>
            <section class="mainbanner">
                <div class="box">
                    <h1>I am a WEB Developer</h1>
                    <a href="#contact">Contact me</a>
                </div>
            </section>
        </header>

<!-- About me for my web -->
        <section class="about" id="about">
            <div class="socialcontact">
                <a href=""> <i class="fab fa-twitter" style="color:#6AFFFC;"></i></a>
                <a href=""><i class="fab fa-facebook-f" style="color:#2249DF;"></i></a>
                <a href=""><i class="fab fa-instagram" style="color:#FA7628;"></i></a>
                <a href=""> <i class="fab fa-linkedin-in" style="color:#2081F5;"></i></a>
            </div>
            <div class="aboutmeright">
                <h1>Let me introduce myself</h1>
                <p>Hi, I am Navqi,a web designer / developer based in Berlin, Germany. </p>
                <p> I have a passion for web design and love to create for web and mobile devices.</p>
                <p> I like to keep it simple. My goals are to focus on Designing, content </p>
                <p>, animations and conveying the message that you want to send.</p>
            </div>
        </section>

<!-- My Projects for my web -->
        <section class="projects" id="projects">
           
            <aside> <h1>Projects</h1>
                <ul>
                    <li><a href="project1/index.html" target="myiframe">Image Slider using css</a></li>
                    <li><a href="project2/index.html" target="myiframe">Analog Clock</a></li>
                    <li><a href="project3/index.html" target="myiframe">Calculator using css</a></li>
                    <li><a href="project4/index.html" target="myiframe">3D Animated Box</a></li>
                    <li><a href="project5/index.html" target="myiframe">Fully responsive web</a></li>
                    <li><a href="project6/blending.html" target="myiframe">Blendind effect</a></li>
                    <li><a href="project7/web.html" target="myiframe">Web with attached BG</a></li>
                    <li><a href="project8/textaround.html" target="myiframe">Text around image</a></li>
                    <li><a href="project9/index.html" target="myiframe">Css before and after effect</a></li>
                </ul>
            </aside>
            <div class="projectdisplay">
                <div class="project1 ">
                    <div class="front"><iframe src="project1/index.html" frameborder="0" width="600px" height="600px" name="myiframe" allow="fullscreen"></iframe></div>
                </div>
            </div>
        </section>

<!-- My Skills for my web -->
        <section class="skills" id="skills">
            <h1>Skills</h1>
            <div class="skillinfo">
                <ul>
                    <li>
                        <i class="fab fa-html5" style="color:#E54D26;">
                            <h2>&#60;HTML5&#62;</h2>
                            <p>I can create layout struction,signup form and embed audio/video in your website.</p>
                        </i></li>
                    <li><i class="fab fa-css3-alt" style="color:#0070BA;">
                            <h2>&#34;CSS3&#34;</h2>
                            <p>I can design ,create 3D animations, make your website attractive and fully resposive for all sizes of devices.</p>
                        </i></li>
                    <li><i class="fab fa-js-square" style="color:#63A818;">
                            <h2>JAVASCRIPT&#40;&#41;</h2>
                            <p>I can create highly responsive interfaces that improve the user experience and provide dynamic functionality. </p>
                        </i></li>
                    <li><i class="fab fa-github" style="color:black;">
                            <h2>GitHub</h2>
                            <p>I can work on live project with other team members.</p>
                        </i></li>
                </ul>
            </div>
        </section>

<!-- My resume for my web -->
        <section class="resume" id="resume">
            <h1>Resume</h1>
            <div class="info">
                <ul>
                    <li><i class="fas fa-graduation-cap" style="color:#47ADDD;"></i>Intermediate in computer studies</li>
                    <li><i class="fas fa-graduation-cap" style="color:#47ADDD;"></i>Bachelor's in Business Administration</li>
                    <li><i class="fas fa-graduation-cap" style="color:#47ADDD;"></i>CCNA 1 & 2.</li>
                    <li><i class="fas fa-graduation-cap" style="color:#47ADDD;"></i>Photoshop Design</li>
                    <li><i class="fas fa-graduation-cap" style="color:#47ADDD;"></i>Webdevelopment Orientation course</li>
                    <li><i class="fas fa-laptop-code" style="color:#47ADDD;"></i>5 years experience in buiness management</li>
                    <li><i class="fas fa-laptop-code" style="color:#47ADDD;"></i>2 years experience in Networking</li>
                </ul>
            </div>
        </section>
<!-- Hireme for my web -->
        <section class="hireme">
            <h1>Why will you hire me</h1>
            <p>Everyone needs a platform to showcase their skills and so do I. I am sincere and focused hardworking. I am one of those candidates who prefer enjoying the work instead of doing it. All I need a chance to prove myself.I always find myself ready to learn new things, to be creative and to go with new ideas., I can assure you I will give my best.
                As, I have just started my career, I don’t have practical achievements, but I really want to practically explore and experience my potential by delivering the best services to the company. It will be my honor to work with you.</p>
        </section>

<!-- Contact form for my web -->
        <footer>
            <div class="formcontainer" id="contact">
                <h1>Contact Me</h1>
                <form action="/action_page.php">
                    <label for="yname">Your Name</label>
                    <input type="text" id="yname" name="yname" placeholder="Your name..">

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email..">
                    <textarea id="subject" name="subject" placeholder="Write your message here.." style="height:200px"></textarea>

                    <input type="submit" value="Submit">
                </form>

                <div class="copyright">
                    <h3>&copy; by Naqvi 2018</h3>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
