* {
  scroll-behavior: smooth;
}

.maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: black;
  /* <!--  END Slide over Boxes --> */
  /* <!-- Circle rotation verticle and horizantal --> */
  /*  <!-- End Circle rotation verticle and horizantal --> */
  /*  <!-- Bar animation and circle wave amination--> */
  /* <!-- Bar animation and circle wave animation --> */
  /* <!-- hamburger animation -->  */
  /* <!-- END hamburger animation -->  */
  /*   <!-- box changing shapes --> */
  /*   <!-- box changing shapes --> */
  /* <!-- .circle border loader --> */
  /* <!-- END .circle border loader --> */
  /* <!--  HEART BEAT --> */
  /*    <!--  END HEART BEAT -- */
  /*    <!--  Text Jumping --> */
  /*    <!--  END Text Jumping --> */
  /* <!-- Animation text background --> */
  /* <!-- END Animation text background --> */
  /* <!-- paramid amination --> */
  /* <!-- END paramid amination --> */
  /* <!--  Ring Animatiom --> */
  /* <!--  END Ring Animatiom --> */
  /* <!--  Rolling balls --> */
  /* <!--  END Rolling balls --> */
  /* <!--  ZOOM IN --> */
  /* <!--  END ZOOM IN --> */
  /* <!--  BLINKING BOXES --> */
  /* <!--  BLINKING BOXES --> */
}

.maincontainer .page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, yellow), color-stop(10%, transparent), color-stop(90%, transparent), color-stop(90%, yellow));
  background: linear-gradient(yellow 10%, transparent 10%, transparent 90%, yellow 90%);
}

.maincontainer .navibar {
  width: 100%;
  height: 50px;
  margin: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.maincontainer .navibar .navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .navibar .navigation li {
  width: 150px;
  list-style: none;
}

.maincontainer .navibar .navigation li a {
  color: yellow;
  background: black;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.maincontainer .navibar .navigation li a:hover {
  color: black;
  background: yellow;
  border: 3px solid black;
}

.maincontainer .navibar .navigation li a.active {
  background: yellow;
  border: 3px solid black;
  color: black;
}

.maincontainer .box {
  width: 406px;
  height: 406px;
  background: black;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
}

.maincontainer .b1, .maincontainer .b2, .maincontainer .b3, .maincontainer .b4 {
  width: 200px;
  height: 200px;
  background: yellow;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #8e9289;
}

.maincontainer .b1 {
  top: 2px;
  left: 2px;
  z-index: 4;
}

.maincontainer .b2 {
  top: 2px;
  right: 2px;
  z-index: 2;
}

.maincontainer .b3 {
  bottom: 2px;
  left: 2px;
  z-index: 3;
}

.maincontainer .b4 {
  bottom: 2px;
  right: 2px;
  z-index: 4;
}

.maincontainer .b1:hover {
  -webkit-transform: rotateX(-180deg) translateY(-2px);
          transform: rotateX(-180deg) translateY(-2px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.maincontainer .b3:hover {
  -webkit-transform: rotateY(180deg) translateX(-2px);
          transform: rotateY(180deg) translateX(-2px);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.maincontainer .b4:hover {
  -webkit-transform: rotateX(180deg) translateY(2px);
          transform: rotateX(180deg) translateY(2px);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.maincontainer .b2:hover {
  -webkit-transform: rotateY(-180deg) translateX(2px);
          transform: rotateY(-180deg) translateX(2px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.maincontainer .circleloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 406px;
  height: 406px;
  background: black;
  margin-left: 20px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.maincontainer .circle {
  width: 200px;
  height: 200px;
  background: yellow;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  33% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  66% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes spin {
  33% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  66% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

.maincontainer .barloader {
  width: 396px;
  height: 406px;
  background: black;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.maincontainer .barloader1 {
  width: 396px;
  height: 406px;
  background: black;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.maincontainer .barloader1 .bar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: yellow;
  margin: 0 1px;
  position: relative;
  top: 100%;
  -webkit-animation: bar 4s alternate infinite;
          animation: bar 4s alternate infinite;
}

.maincontainer .bar {
  width: 10px;
  height: 400px;
  background: yellow;
  margin: 0 1px;
  position: relative;
  top: 100%;
  -webkit-animation: bar 4s alternate infinite;
          animation: bar 4s alternate infinite;
}

.maincontainer .bar:nth-child(2) {
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s;
}

.maincontainer .bar:nth-child(3) {
  -webkit-animation-delay: .250s;
          animation-delay: .250s;
}

.maincontainer .bar:nth-child(4) {
  -webkit-animation-delay: .375s;
          animation-delay: .375s;
}

.maincontainer .bar:nth-child(5) {
  -webkit-animation-delay: 0.500s;
          animation-delay: 0.500s;
}

.maincontainer .bar:nth-child(6) {
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
}

.maincontainer .bar:nth-child(7) {
  -webkit-animation-delay: 0.750s;
          animation-delay: 0.750s;
}

.maincontainer .bar:nth-child(8) {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

.maincontainer .bar:nth-child(9) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.maincontainer .bar:nth-child(10) {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}

.maincontainer .bar:nth-child(11) {
  -webkit-animation-delay: 1.250s;
          animation-delay: 1.250s;
}

.maincontainer .bar:nth-child(12) {
  -webkit-animation-delay: 1.375s;
          animation-delay: 1.375s;
}

.maincontainer .bar:nth-child(13) {
  -webkit-animation-delay: 1.500s;
          animation-delay: 1.500s;
}

.maincontainer .bar:nth-child(14) {
  -webkit-animation-delay: 1.625s;
          animation-delay: 1.625s;
}

.maincontainer .bar:nth-child(15) {
  -webkit-animation-delay: 1.750s;
          animation-delay: 1.750s;
}

.maincontainer .bar:nth-child(16) {
  -webkit-animation-delay: 1.875s;
          animation-delay: 1.875s;
}

.maincontainer .bar:nth-child(17) {
  -webkit-animation-delay: 2.0s;
          animation-delay: 2.0s;
}

.maincontainer .bar:nth-child(18) {
  -webkit-animation-delay: 2.125s;
          animation-delay: 2.125s;
}

.maincontainer .bar:nth-child(19) {
  -webkit-animation-delay: 2.250s;
          animation-delay: 2.250s;
}

.maincontainer .bar:nth-child(20) {
  -webkit-animation-delay: 2.375s;
          animation-delay: 2.375s;
}

.maincontainer .bar:nth-child(21) {
  -webkit-animation-delay: 2.50s;
          animation-delay: 2.50s;
}

.maincontainer .bar:nth-child(22) {
  -webkit-animation-delay: 2.625s;
          animation-delay: 2.625s;
}

.maincontainer .bar:nth-child(23) {
  -webkit-animation-delay: 2.750s;
          animation-delay: 2.750s;
}

.maincontainer .bar:nth-child(24) {
  -webkit-animation-delay: 2.875s;
          animation-delay: 2.875s;
}

.maincontainer .bar:nth-child(25) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.maincontainer .bar:nth-child(26) {
  -webkit-animation-delay: 3.125s;
          animation-delay: 3.125s;
}

.maincontainer .bar:nth-child(27) {
  -webkit-animation-delay: 3.250s;
          animation-delay: 3.250s;
}

.maincontainer .bar:nth-child(28) {
  -webkit-animation-delay: 3.375s;
          animation-delay: 3.375s;
}

.maincontainer .bar:nth-child(29) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.maincontainer .bar:nth-child(30) {
  -webkit-animation-delay: 3.625s;
          animation-delay: 3.625s;
}

.maincontainer .bar:nth-child(31) {
  -webkit-animation-delay: 3.750s;
          animation-delay: 3.750s;
}

.maincontainer .bar:nth-child(32) {
  -webkit-animation-delay: 3.875s;
          animation-delay: 3.875s;
}

.maincontainer .bar:nth-child(33) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes bar {
  100% {
    top: 0;
  }
}

@keyframes bar {
  100% {
    top: 0;
  }
}

.maincontainer .ham {
  width: 406px;
  height: 406px;
  background: black;
  margin-left: 20px;
  overflow: hidden;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .ham .inner {
  widows: 300px;
  height: 300px;
}

.maincontainer .line1, .maincontainer .line2, .maincontainer .line3 {
  width: 300px;
  height: 20px;
  margin: 60px auto;
  background: yellow;
  -webkit-transition: 2s;
  transition: 2s;
  position: relative;
}

.maincontainer .ham:hover .line1 {
  -webkit-transform: rotateZ(45deg) translateY(80px) translateX(35px);
          transform: rotateZ(45deg) translateY(80px) translateX(35px);
}

.maincontainer .ham:hover .line3 {
  -webkit-transform: rotateZ(-45deg) translateY(-80px) translateX(35px);
          transform: rotateZ(-45deg) translateY(-80px) translateX(35px);
}

.maincontainer .ham:hover .line2 {
  opacity: 0;
}

.maincontainer .bigbox {
  width: 406px;
  height: 406px;
  background: black;
  margin-left: 20px;
  overflow: hidden;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .bigbox .innerbox {
  width: 300px;
  height: 300px;
  background: yellow;
  -webkit-animation: shape 4s linear infinite;
          animation: shape 4s linear infinite;
}

@-webkit-keyframes shape {
  10% {
    border-radius: 25%;
  }
  20% {
    border-radius: 50%;
  }
  30% {
    border-radius: 75%;
  }
  40% {
    border-radius: 50% 25%;
  }
  50% {
    border-radius: 25% 50%;
  }
  60% {
    border-radius: 75% 0%;
  }
  70% {
    border-radius: 0% 75%;
  }
  80% {
    border-radius: 35% 10% 25%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes shape {
  10% {
    border-radius: 25%;
  }
  20% {
    border-radius: 50%;
  }
  30% {
    border-radius: 75%;
  }
  40% {
    border-radius: 50% 25%;
  }
  50% {
    border-radius: 25% 50%;
  }
  60% {
    border-radius: 75% 0%;
  }
  70% {
    border-radius: 0% 75%;
  }
  80% {
    border-radius: 35% 10% 25%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.maincontainer .circlecontainer {
  width: 406px;
  height: 406px;
  background: black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.maincontainer .circlecontainer .circle1 {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 10px solid transparent;
  border-top-color: yellow;
  border-bottom-color: yellow;
  -webkit-animation: circle1 2s alternate infinite;
          animation: circle1 2s alternate infinite;
}

.maincontainer .circlecontainer .circle2 {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid transparent;
  border-right-color: yellow;
  border-left-color: yellow;
  -webkit-animation: circle2 2s alternate infinite;
          animation: circle2 2s alternate infinite;
}

.maincontainer .circlecontainer .circle3 {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-top-color: yellow;
  border-bottom-color: yellow;
  -webkit-animation: circle1 2s alternate infinite;
          animation: circle1 2s alternate infinite;
}

@-webkit-keyframes circle1 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle1 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes circle2 {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes circle2 {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.maincontainer .heartbeat {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .heart {
  width: 150px;
  height: 250px;
  position: relative;
  margin-bottom: 70px;
  -webkit-animation: beat .5s linear infinite;
          animation: beat .5s linear infinite;
}

.maincontainer .heart::before {
  content: '';
  width: 150px;
  height: 250px;
  background: yellow;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  left: 52px;
}

.maincontainer .heart::after {
  content: '';
  width: 150px;
  height: 250px;
  background: yellow;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  right: 52px;
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  10% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  10% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.maincontainer .textjump {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .textjump .text {
  width: 350px;
  height: 60px;
  color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 5px solid yellow;
}

.maincontainer .textjump .text span {
  display: block;
  font-size: 3em;
  margin: 6px;
  position: relative;
  -webkit-animation: jump 2s alternate infinite;
          animation: jump 2s alternate infinite;
}

.maincontainer .text span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.maincontainer .text span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.maincontainer .text span:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.maincontainer .text span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.maincontainer .text span:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.maincontainer .text span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(0deg);
            transform: translateY(-100px) rotate(0deg);
  }
  60% {
    -webkit-transform: translateY(-100px) rotate(180deg);
            transform: translateY(-100px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateY(-100px) rotate(360deg);
            transform: translateY(-100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  40% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(0deg);
            transform: translateY(-100px) rotate(0deg);
  }
  60% {
    -webkit-transform: translateY(-100px) rotate(180deg);
            transform: translateY(-100px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateY(-100px) rotate(360deg);
            transform: translateY(-100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}

.maincontainer .backgroundtext {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .textback h1 {
  font-size: 3em;
  color: yellow;
  letter-spacing: 5px;
  background-image: linear-gradient(45deg, black, yellow, black);
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: textback 1s linear infinite;
          animation: textback 1s linear infinite;
}

@-webkit-keyframes textback {
  100% {
    background-position: 300px 0px;
  }
}

@keyframes textback {
  100% {
    background-position: 300px 0px;
  }
}

.maincontainer .paramid {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .para {
  width: 300px;
  height: 300px;
  position: relative;
}

.maincontainer .para span {
  position: absolute;
  /*  border: 1px solid yellow; */
  background: linear-gradient(45deg, black, yellow, black);
  -webkit-animation: paramid 5s alternate infinite;
          animation: paramid 5s alternate infinite;
}

.maincontainer .para span:nth-child(1) {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.maincontainer .para span:nth-child(2) {
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.maincontainer .para span:nth-child(3) {
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.maincontainer .para span:nth-child(4) {
  top: 60px;
  bottom: 60px;
  left: 60px;
  right: 60px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.maincontainer .para span:nth-child(5) {
  top: 80px;
  bottom: 80px;
  left: 80px;
  right: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.maincontainer .para span:nth-child(6) {
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.maincontainer .para span:nth-child(7) {
  top: 120px;
  bottom: 120px;
  left: 120px;
  right: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.maincontainer .para span:nth-child(8) {
  top: 140px;
  bottom: 140px;
  left: 140px;
  right: 140px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes paramid {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes paramid {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.maincontainer .ringanimation {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .ring {
  width: 380px;
  height: 380px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.maincontainer .ring span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid yellow;
  -webkit-animation: ring 2s alternate infinite;
          animation: ring 2s alternate infinite;
}

.maincontainer .ring span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.maincontainer .ring span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.maincontainer .ring span:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.maincontainer .ring span:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.maincontainer .ring span:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.maincontainer .ring span:nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.maincontainer .ring span:nth-child(8) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.maincontainer .ring span:nth-child(9) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.maincontainer .ring span:nth-child(10) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes ring {
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

@keyframes ring {
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

.maincontainer .rollingboard {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .balls {
  width: 100%;
  height: 50%;
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.maincontainer .balls div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(yellow, black);
  position: absolute;
  top: 50%;
  color: black;
  text-align: center;
  line-height: 30px;
}

.maincontainer .ball1 {
  -webkit-animation: ball1 1s alternate infinite;
          animation: ball1 1s alternate infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.maincontainer .ball2 {
  left: 100px;
  -webkit-animation: ball2 1s alternate infinite;
          animation: ball2 1s alternate infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.maincontainer .ball3 {
  left: 200px;
  -webkit-animation: ball3 1s alternate infinite;
          animation: ball3 1s alternate infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.maincontainer .ball4 {
  left: 300px;
  -webkit-animation: ball4 1s alternate infinite;
          animation: ball4 1s alternate infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes ball1 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@keyframes ball1 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@-webkit-keyframes ball2 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@keyframes ball2 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@-webkit-keyframes ball3 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@keyframes ball3 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@-webkit-keyframes ball4 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

@keyframes ball4 {
  100% {
    -webkit-transform: translateX(70px) rotate(360deg);
            transform: translateX(70px) rotate(360deg);
  }
}

.maincontainer .zoomin {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .zoom {
  width: 380px;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.maincontainer .zoom div {
  position: absolute;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: zoom .3s linear infinite;
          animation: zoom .3s linear infinite;
}

.maincontainer .zoom div:nth-child(1) {
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: 5px solid yellow;
}

.maincontainer .zoom div:nth-child(2) {
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  border: 4.5px solid yellow;
}

.maincontainer .zoom div:nth-child(3) {
  top: 60px;
  right: 60px;
  left: 60px;
  bottom: 60px;
  border: 4px solid yellow;
}

.maincontainer .zoom div:nth-child(4) {
  top: 80px;
  right: 80px;
  left: 80px;
  bottom: 80px;
  border: 3.5px solid yellow;
}

.maincontainer .zoom div:nth-child(5) {
  top: 100px;
  right: 100px;
  left: 100px;
  bottom: 100px;
  border: 3px solid yellow;
}

.maincontainer .zoom div:nth-child(6) {
  top: 120px;
  right: 120px;
  left: 120px;
  bottom: 120px;
  border: 2.5px solid yellow;
}

.maincontainer .zoom div:nth-child(7) {
  top: 140px;
  right: 140px;
  left: 140px;
  bottom: 140px;
  border: 2px solid yellow;
}

.maincontainer .zoom div:nth-child(8) {
  top: 160px;
  right: 160px;
  left: 160px;
  bottom: 160px;
  border: 1.5px solid yellow;
}

.maincontainer .zoom div:nth-child(9) {
  top: 180px;
  right: 180px;
  left: 180px;
  bottom: 180px;
  border: 1px solid yellow;
}

.maincontainer .zoom div:nth-child(10) {
  top: 189px;
  right: 189px;
  left: 189px;
  bottom: 189px;
  border: 0.5px solid yellow;
}

@-webkit-keyframes zoom {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes zoom {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.maincontainer .blinking {
  width: 406px;
  height: 406px;
  background: black;
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .blinking .boxes {
  width: 380px;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.maincontainer .blinking .boxes div {
  position: absolute;
  opacity: 0;
  -webkit-animation: blink 2s alternate infinite;
          animation: blink 2s alternate infinite;
  border-radius: 50%;
}

.maincontainer .blinking .boxes div:nth-child(1) {
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: 5px solid yellow;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.maincontainer .blinking .boxes div:nth-child(2) {
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  border: 4.5px solid yellow;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.maincontainer .blinking .boxes div:nth-child(3) {
  top: 60px;
  right: 60px;
  left: 60px;
  bottom: 60px;
  border: 4px solid yellow;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.maincontainer .blinking .boxes div:nth-child(4) {
  top: 80px;
  right: 80px;
  left: 80px;
  bottom: 80px;
  border: 3.5px solid yellow;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.maincontainer .blinking .boxes div:nth-child(5) {
  top: 100px;
  right: 100px;
  left: 100px;
  bottom: 100px;
  border: 3px solid yellow;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.maincontainer .blinking .boxes div:nth-child(6) {
  top: 120px;
  right: 120px;
  left: 120px;
  bottom: 120px;
  border: 2.5px solid yellow;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.maincontainer .blinking .boxes div:nth-child(7) {
  top: 140px;
  right: 140px;
  left: 140px;
  bottom: 140px;
  border: 2px solid yellow;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.maincontainer .blinking .boxes div:nth-child(8) {
  top: 160px;
  right: 160px;
  left: 160px;
  bottom: 160px;
  border: 1.5px solid yellow;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.maincontainer .blinking .boxes div:nth-child(9) {
  top: 180px;
  right: 180px;
  left: 180px;
  bottom: 180px;
  border: 1px solid yellow;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.maincontainer .blinking .boxes div:nth-child(10) {
  top: 189px;
  right: 189px;
  left: 189px;
  bottom: 189px;
  border: 0.5px solid yellow;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */