*
{
    margin: 0;padding: 0;box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sec1{
    background: url(image/2.jpg) fixed;
    background-size: cover;
    position: relative;
}
.sec1::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    right: 50%;
    top: 100vh;
    transform-origin: right;
    transform: rotate(10deg);
}
.sec1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    left: 50%;
    top: 100vh;
    transform-origin: left;
    transform: rotate(-10deg);
}
.navbar{
    position: fixed;
    z-index: 5;
}
.sec1 .navbar ul{
    display: flex;
    width: 100%;
    justify-content: center;
}
.sec1 .navbar ul li{
    width: 15vw;
    height: 7vh;
    position: relative;
    margin: 0.3vw;
    list-style: none;
    border-radius: 5vw;
}
.sec1 .navbar ul li a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 7vh;
    font-size: 2vw;
    background: linear-gradient(45deg,lightblue,#646D1A);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5vw;
    border-top:0.3vw solid lightblue;
    box-shadow: 5px 20px 50px #646D1A;
    transition: .5s;
}
.sec1 .herobtn{
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 70vh;
    text-align: center;
}
.sec1 .herobtn a{
    text-decoration: none;
    font-size: 2vw;
    margin:1vw;
    padding: 1vw;
    background: linear-gradient(45deg,lightblue,#646D1A);
    color: white;
    border-radius: 5vw;
    text-transform: uppercase;
    border-top:0.2vw solid lightblue;
    box-shadow: 5px 20px 50px #646D1A;
    transition: .5s;
}
.sec1 .herobtn a:hover, .sec1 .navbar a:hover{
    border-top:0;
    box-shadow:2px 5px 10px #646D1A;
    background: linear-gradient(45deg,#646D1A,lightblue);
    transform: scale(0.95);
 }
.sec3{
    background: url(image/14.jpg) fixed;
    background-size: cover;
    position: relative;
}
.sec3::before{
    position: absolute;
    content: "";
    width: 110%;
    height: 100%;
    background: white;
    bottom: 100vh;
    transform-origin: left;
    transform: rotate(5deg);
}
.sec3::after{
    position: absolute;
    content: "";
    width: 110%;
    height: 100%;
    background: white;
    top: 80vh;
    left: -10vh;
    transform-origin: left;
    transform: rotate(5deg);
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3 div{
    font-size: 10vw;
    color: white;
    margin: 5vw;

}
.team
{
    width: 95%;
    height: 95vh;
    margin:2.5vh auto;
    background: linear-gradient(lightblue,#646D1A);
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.teammember .image{
    width: 20vw;
    height: 30vh;

}
.teammember .image1{
    background: url(image/4.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.teammember .image2{
    background: url(image/2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.teammember .image3{
    background: url(image/1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.teammember{
    width: 25%;
    height: 60%;
    background:linear-gradient(lightblue,green);
    margin: 0.5vw;
    transition: 1s all;
    box-shadow: 10px 20px 50px rgb(8, 8, 8);
    border-radius: 10%;
}

.teammember1:hover {
    width: 90%
}
.teammember2:hover {
    width: 90%
}
.teammember3:hover {
    width: 90%
}
.teammember .content{
    text-align: center;
    font-size: 1.5vw;
}
.teammember .content h1{
    font-family: 'Vollkorn', serif;
}
.teammember .content h2{
    font-family: 'Lobster', cursive;
}
.teammember .skills i{
    display:inline-block;
    font-size: 6vw;
    transition: 2s;
}
.teammember .skills .fa-css3-alt{
    color:  #153F8E;
}
.teammember .skills .fa-html5{
    color: red;
}
.teammember .skills .fa-js{
    color: yellow;
}
.teammember .skills .fa-angular{
    color: #800007;
}
.teammember .skills
{
    display: none;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.teammember1:hover .skills,.teammember2:hover .skills,.teammember3:hover .skills{
    display: flex;
}

.sec4 .projects100{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}
.sec4 .projects100 .a1{
    font-size: 8vw;
    font-weight: bolder; 
    color: #646D1A;
}
.sec4 .projects100 .a2{
    font-size: 2vw;
    background: #646D1A;
    color: white;
}
.sec4 .details
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 .details div{
    padding: 5vw;
    font-size: 2vw;
    text-align: justify;
}
.sec4 .details div h1{
    font-variant: small-caps;
}
.sec4 .details div:nth-child(odd)
{
    background: lightblue;
}

.sec5{
    display: flex;
    background: linear-gradient(90deg,lightblue,#646D1A);
    justify-content: center;
    align-items: center;
   
}
.sec5 .leftside{
    width: 45vw;
    height: 90vh;
    display: flex;
    margin: 2vw;
    justify-content: center;
    align-items: center;
    background: #646D1A;
    border: 1vw solid lightblue;
    position: relative;
    transition: 0.5s;
}

.sec5 .rightside{
    width: 45vw;
    height: 90vh;
    display: flex;
    margin: 2vw;
    justify-content: center;
    align-items: center;
    background: lightblue;
    border: 1vw solid #646D1A;
    position: relative;
    transition: 0.5s;
}
.sec5 div a{
    font-size: 4vw;
    color: white;
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center; 
    line-height:95vh;
}
.sec5 div:hover {
    border-radius: 50%;
}

.sec6 .imagecontainer
{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.imagecontainer .image img{
    display: block;
    width: 30vw;
    height: 30vh;
    padding: 2vw;
}
.image{
    position: relative;
    overflow: hidden;
  
}
.image .content{
    position: absolute;
    width: 26vw;
    height: 26vh;
    padding: 2vw;
    top: 28vh;
    left: 2vw;
    background: black;
    transition: 1s all;
    color: white;
    text-align: center;
}
.image .content p:nth-child(2)
{
    margin-top: 1vh;
}

.image:hover .content{
    top:4vh; 
}












footer{
    width: 100%;
    height: 10vh;
    background: black;
    display: flex;  
}
.copyright{
    flex: 9;
    color: white;
    font-size: 1.4vw;
    line-height: 10vh;
    padding-left: 2vw;
}
.sociallinks{
    flex: 3;
    display: flex;
    justify-content: center;
}
.sociallinks a{
    color: white;
    padding: 1vw;
    text-decoration: none;
    font-size: 2vw;
}
.sociallinks a .fa-arrow-circle-up:hover{
    color: blue;
}


