*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background: gray;
}
.container{
    width: 100%;
    height: 100%;
}
.header
{
    width: 100%;
    height: 600px;
    background-image: url(image/bg1.jpg);
    background-size: contain;

}
.navcontainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.nav{
    flex-basis:70%;
}
.header .nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap; 

}
.nav ul li {
    position: relative;
    min-width: 120px;
    height: 30px;
}
.nav ul li a{
    position: absolute;
    top: 0;
    left: 0;
     width:100%;
     height: 100%;
     background-color: white;
     text-align: center;
     text-decoration: none;
     line-height: 30px;
     text-transform: uppercase;
     transition: .5s;
}
.nav ul li:nth-child(1) a{

    background-color: red;
    color: white;
}
.nav ul li a:hover{
    background: red;
    color: white;
}
.social{
   flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;

}
.social a{
    padding: 10px;
    font-size: 20px;
    min-width: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.social a:hover{
    color: red;
}
.name{
    clear: both;
    width: 100%;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 2.5vw;
    font-variant: small-caps;
    text-align: center;
    display: flex;
    justify-content: center;
}
.main{
    width: 80%;
    box-shadow: 5px 10px 40px 5px black;
    position: relative;
    margin:auto;
    top: -300px;
    color: white;
    padding: 2vw;
    background: rgba(0, 0, 0,0.2);
    
}
.intro{
    width: 100%;
    padding: 5vw;
}
.intro h1{
    text-align: center;
    font-size: 3.5vw;
}
.intro span{
    display: inline-block;
    width: 100%;
    font-size: 2vw;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-style: italic;
}
.intro p,.intro a{
    padding: 1.2vw;
}
.intro a, .leftside a{
    text-decoration: none;
    background: red;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 1.2vw;
}
.details{
    width: 100%;
    display: flex;
}
.leftside{
    width: 50%;
    text-align: right;
}
.leftside p,h1{
    padding:2vw;
}
.rightside{
    width: 50%;
}
.rightside h3,h4{
    padding:0.5vh 2vw ;
   
}
.selectwork{
    width: 100%;
    height: 500px;
}
.selectwork h1{
text-align: center;
padding-top: 10vh;
}
.selectwork .btn{
   width: 100%;
   text-align: center;

    }
    .selectwork .btn a{
        text-decoration: none;
        background: red;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 1.2vw;
    }
    .images{
        padding: 5vh 2vw;
        display: flex;
        width: 70%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 1vh auto;

    }
    .images div{

        width: 50%;
        height: 30vh;
        border: 1px solid black;
        border: 2px solid white;
    }
    .image1{
        background: url(image/4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .image2{
        background: url(image/5.jpg);
        background-size: cover;
    }
    .image3{
        background: url(image/6.jpg);
        background-size: cover;
    }
    .image4{
        background: url(image/7.jpg);
        background-size: cover;
    }
    .contactform{
        width: 100vw;
        height: 20vh;
        margin: 20vh auto 0 auto;;
    }
    .contactform {
        width: 60%;
        height: 30vh;
        background: black;
    }
    .contactform label{
        display: inline-block;
        width: 30%;
        padding: 1vw;
    }
    .contactform input[type="submit"]{
        display: inline-block;
        width:20vw;
        font-size: 1.5vw;
        margin:1px 30%;
    }
    footer{
        width: 100%;
        height: 10vh;
        background: black;
        color: white;
        position: absolute;
    }