*{
    scroll-behavior: smooth;
}
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
   position: relative;
   width: 100%;
   min-height:100vh;
   background: black;
   .page{
       width: 100%;
       min-height: 100vh;
       display: flex;
       justify-content: center;
       justify-content: space-evenly;
       align-items: center;
       flex-wrap: wrap;
       background: linear-gradient(yellow 10%,transparent 10%, transparent 90%,yellow 90%);
      
   }
.navibar{
    width: 100%;
    height: 50px;
    margin: 5px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    .navigation{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
        li{
            width: 150px;
            list-style:none;
            a{
                color: yellow;
                background: black;
                padding: 1rem;
                font-size: 1rem;
                text-decoration: none;
                transition: .5s;
                &:hover{
                    color: black;
                background: yellow;
                border: 3px solid black;
                }
                &.active{
                    background: yellow;
                    border: 3px solid black;
                    color: black;
                } 
            }
        }
    }
}

   .box{
    width: 406px;
    height: 406px;
    background: black;
    perspective: 600px;
    position: relative;

}
.b1,.b2,.b3,.b4{
    width: 200px;
    height: 200px;
    background: yellow;
    position: absolute;
    transform-style: preserve-3d;
    transition: 2s;
    box-sizing: border-box;
    border: 5px solid rgb(142, 146, 137);
}
.b1{
    top: 2px;
    left: 2px;
    z-index: 4;
}
.b2{
    top: 2px;
    right:2px;
    z-index:2;
}
.b3{
    bottom:2px;
    left: 2px;
    z-index: 3;
}
.b4{
    bottom: 2px;
    right: 2px;
    z-index: 4;
}
.b1:hover{
    transform: rotateX(-180deg) translateY(-2px);
    transform-origin: bottom;
}
.b3:hover{
    transform: rotateY(180deg) translateX(-2px);
    transform-origin: right;
}
.b4:hover{
    transform: rotateX(180deg) translateY(2px);
    transform-origin: top;
}
.b2:hover{
    transform: rotateY(-180deg) translateX(2px);
    transform-origin: left;
}

/* <!--  END Slide over Boxes --> */


/* <!-- Circle rotation verticle and horizantal --> */
.circleloader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 406px;
    height: 406px;
    background: black;
    margin-left: 20px;
    perspective: 500px;
}
.circle{
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    transform-style: preserve-3d;
    animation: spin 1s linear infinite;
}
@keyframes spin{
   33%{
        transform: rotateY(180deg);
    }
    66%{
        transform: rotateX(180deg);
    }
}
/*  <!-- End Circle rotation verticle and horizantal --> */

/*  <!-- Bar animation and circle wave amination--> */
.barloader{
    width: 396px;
    height: 406px;
    background: black;
    margin-left: 20px;
    display: flex;
    overflow: hidden;
}
.barloader1{
    width: 396px;
    height: 406px;
    background: black;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}
.barloader1 .bar{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: yellow;
    margin:0 1px;
    position: relative;
    top: 100%;
    animation: bar 4s alternate infinite;
}
.bar{
    width: 10px;
    height:400px;
    background: yellow;
    margin:0 1px;
    position: relative;
    top: 100%;
    animation: bar 4s alternate infinite;
}
.bar:nth-child(2)
{
    animation-delay: 0.125s;
}
.bar:nth-child(3)
{
    animation-delay: .250s;
}
.bar:nth-child(4)
{
    animation-delay: .375s;
}
.bar:nth-child(5)
{
    animation-delay: 0.500s;
}
.bar:nth-child(6)
{
    animation-delay: 0.625s;
}
.bar:nth-child(7)
{
    animation-delay: 0.750s;
}
.bar:nth-child(8)
{
    animation-delay: 0.875s;
}
.bar:nth-child(9)
{
    animation-delay: 1s;
}
.bar:nth-child(10)
{
    animation-delay: 1.125s;
}
.bar:nth-child(11)
{
    animation-delay: 1.250s;
}
.bar:nth-child(12)
{
    animation-delay: 1.375s;
}
.bar:nth-child(13)
{
    animation-delay: 1.500s;
}
.bar:nth-child(14)
{
    animation-delay: 1.625s;
}
.bar:nth-child(15)
{
    animation-delay: 1.750s;
}
.bar:nth-child(16)
{
    animation-delay: 1.875s;
}
.bar:nth-child(17)
{
    animation-delay: 2.0s;
}
.bar:nth-child(18)
{
    animation-delay: 2.125s;
}
.bar:nth-child(19)
{
    animation-delay: 2.250s;
}
.bar:nth-child(20)
{
    animation-delay: 2.375s;
}
.bar:nth-child(21)
{
    animation-delay:  2.50s;
}
.bar:nth-child(22)
{
    animation-delay:2.625s;
}
.bar:nth-child(23)
{
    animation-delay:  2.750s;
}
.bar:nth-child(24)
{
    animation-delay:2.875s;
}
.bar:nth-child(25)
{
    animation-delay: 3s;
}
.bar:nth-child(26)
{
    animation-delay:  3.125s;
}
.bar:nth-child(27)
{
    animation-delay:3.250s;
}
.bar:nth-child(28)
{
    animation-delay: 3.375s;
}
.bar:nth-child(29)
{
    animation-delay:3.5s; 
}
.bar:nth-child(30)
{
    animation-delay: 3.625s;
}
.bar:nth-child(31)
{
    animation-delay: 3.750s;
}
.bar:nth-child(32)
{
    animation-delay:3.875s; 
}
.bar:nth-child(33)
{
    animation-delay:  4s;
}


@keyframes bar{
100%{
    top:0;
}
}
/* <!-- Bar animation and circle wave animation --> */


/* <!-- hamburger animation -->  */
.ham{
    width: 406px;
    height: 406px;
    background: black;
    margin-left: 20px;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ham .inner{
widows: 300px;
height: 300px;
}

.line1,.line2,.line3{
    width: 300px;
    height: 20px;
    margin: 60px auto;
    background: yellow;
    transition: 2s;
    position: relative;
}
.ham:hover .line1{
    transform:rotateZ(45deg) translateY(80px) translateX(35px); 
}
.ham:hover .line3{
    transform:rotateZ(-45deg) translateY(-80px) translateX(35px); 
}
.ham:hover .line2{
    opacity: 0; 
}
/* <!-- END hamburger animation -->  */


/*   <!-- box changing shapes --> */
.bigbox{
    width: 406px;
    height: 406px;
    background: black;
    margin-left: 20px;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox .innerbox{
    width: 300px;
    height: 300px;
    background: yellow;
    animation: shape 4s linear infinite;
}    
@keyframes shape {
    10%{
    border-radius: 25%;            
    }
    20%{
    border-radius: 50%;            
    }
    30%{
    border-radius: 75%;            
    }
    40%{
    border-radius: 50% 25%;            
    }
    50%{
    border-radius: 25% 50%;            
    }
    60%{
    border-radius: 75% 0%;            
    }
    70%{
    border-radius: 0% 75%;            
    }
    80%{
    border-radius: 35% 10% 25%;
    transform: scale(1.2);             
    }
    90%{
    transform: scale(0.5);           
    }


}

/*   <!-- box changing shapes --> */


/* <!-- .circle border loader --> */

.circlecontainer
{
    width: 406px;
    height: 406px;
    background: black;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position:relative;
}
.circlecontainer .circle1{
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid transparent;
    border-top-color: yellow;
    border-bottom-color:yellow; 
    animation: circle1 2s alternate infinite;
}
.circlecontainer .circle2{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
    border-right-color: yellow;
    border-left-color:yellow;
    animation: circle2 2s alternate infinite;

}
.circlecontainer .circle3{
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-top-color: yellow;
    border-bottom-color:yellow;
    animation: circle1 2s alternate infinite;
}
@keyframes circle1{
100%{
    transform: rotate(360deg);
}
}
@keyframes circle2{
100%{
    transform: rotate(-360deg);
}
}
/* <!-- END .circle border loader --> */



/* <!--  HEART BEAT --> */
.heartbeat {
    width: 406px;
    height: 406px;
    background: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.heart{
    width: 150px;
    height: 250px;
    position:relative;
    margin-bottom: 70px;
    animation: beat .5s linear infinite;
}
.heart::before{
    content: '';
    width: 150px;
    height: 250px;
    background: yellow;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin:bottom;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    left: 52px;    
}
.heart::after{
    content: '';
    width: 150px;
    height: 250px;
    background: yellow;
    transform: rotate(45deg);
    position: absolute;
    transform-origin: bottom;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 52px;
}
@keyframes beat{
    0%{
        transform:scale(0.5);
    }
    10%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(0.5);
    }
}



/*    <!--  END HEART BEAT -- */

/*    <!--  Text Jumping --> */
.textjump{
    width: 406px;
    height: 406px;
    background: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textjump .text{
    width: 350px;
    height: 60px;
    color: yellow;
    display: flex;
    position: relative;
    border: 5px solid yellow;
 
}
.textjump .text span{
    display: block;
    font-size: 3em;
    margin: 6px;
    position: relative;
    animation: jump 2s alternate infinite;
}
.text span:nth-child(2){
    animation-delay: 0.2s;
}
.text span:nth-child(3){
    animation-delay: 0.8s;
}
.text span:nth-child(4){
    animation-delay: 0.6s;
}
.text span:nth-child(5){
    animation-delay: 0.4s;
}
.text span:nth-child(6){
    animation-delay: 0.3s;
}
.text span:nth-child(7){
    animation-delay: 0.6s;
}
@keyframes jump{
    0%{
        transform:translateY(0px) rotate(0deg);
        
    }
    40%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform:translateY(-100px) rotate(0deg);
    }
    60%{
        transform:translateY(-100px) rotate(180deg);
    }
    80%{
        transform:translateY(-100px) rotate(360deg);
    }
    100%{
        transform:translateY(0px) rotate(360deg);
    }
}

/*    <!--  END Text Jumping --> */

/* <!-- Animation text background --> */
.backgroundtext{
    width: 406px;
    height: 406px;
    background: black;
    margin: 10px 0px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textback h1{
    font-size: 3em;
    color: yellow;
    letter-spacing:5px;
    background-image: linear-gradient(45deg,black,yellow,black );
    background-repeat:repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textback 1s linear infinite;
}
@keyframes textback{
100%{
    background-position:300px 0px; 

}
}
/* <!-- END Animation text background --> */

/* <!-- paramid amination --> */
.paramid{
    width: 406px;
    height: 406px;
    background: black;
    margin: 10px 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para{
    width: 300px;
    height: 300px;
    position: relative;
}
.para span{
    position: absolute;
   /*  border: 1px solid yellow; */
    background: linear-gradient(45deg,black,yellow,black);
  animation: paramid 5s alternate infinite;
}
.para span:nth-child(1){
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.para span:nth-child(2){
    top:20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    animation-delay: 0.5s;
}
.para span:nth-child(3){
    top:40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    animation-delay: 1s;
}
.para span:nth-child(4){
    top:60px;
    bottom: 60px;
    left: 60px;
    right: 60px;
    animation-delay: 1.5s;
}
.para span:nth-child(5){
    top:80px;
    bottom:80px;
    left: 80px;
    right: 80px;
    animation-delay: 2s;
}
.para span:nth-child(6){
    top:100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    animation-delay: 2.5s;
}
.para span:nth-child(7){
    top:120px;
    bottom: 120px;
    left: 120px;
    right: 120px;
    animation-delay: 3s;
}
.para span:nth-child(8){
    top:140px;
    bottom: 140px;
    left: 140px;
    right: 140px;
    animation-delay: 3.5s;
}
@keyframes paramid{
100%{
    transform: rotate(180deg);
}
}

/* <!-- END paramid amination --> */


/* <!--  Ring Animatiom --> */
.ringanimation{
    width: 406px;
    height: 406px;
    background: black;
    margin: 10px 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring{
    width: 380px;
    height: 380px;
    position: relative;
    perspective: 1000px;
}
.ring span{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid yellow;
    animation: ring 2s alternate infinite;
}
.ring span:nth-child(2){
    animation-delay: 0.2s;
}
.ring span:nth-child(3){
    animation-delay: 0.4s;
}
.ring span:nth-child(4){
    animation-delay:0.6s;
}
.ring span:nth-child(5){
    animation-delay: 0.8s;
}
.ring span:nth-child(6){
    animation-delay: 1s;
}
.ring span:nth-child(7){
    animation-delay: 1.2s;
}
.ring span:nth-child(8){
    animation-delay: 1.4s;
}
.ring span:nth-child(9){
    animation-delay: 1.6s;
}
.ring span:nth-child(10){
    animation-delay: 1.8s;
}
@keyframes ring{
    100%
    {
        -webkit-transform: rotateY(180deg);
    }
}

/* <!--  END Ring Animatiom --> */


/* <!--  Rolling balls --> */
.rollingboard{
width: 406px;
    height: 406px;
    background: black;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.balls{
width: 100%;
height: 50%;
background: yellow;
display: flex;
position:relative;
}
.balls div{
width: 30px;
height: 30px;
border-radius: 50%;
background: radial-gradient(yellow,black);
position: absolute;
top:50%;
color: black;
text-align: center;
line-height: 30px;

}
.ball1{
animation: ball1 1s alternate infinite;
animation-delay: 1s;
}
.ball2{
left: 100px;
animation: ball2 1s alternate infinite;
animation-delay: 2s;
}

.ball3{
left: 200px;
animation: ball3 1s alternate infinite;
animation-delay: 3s;
}
.ball4{
left: 300px;
animation: ball4 1s alternate infinite;
animation-delay: 4s;
}
@keyframes ball1{
100%{
    transform: translateX(70px) rotate(360deg);
}
}
@keyframes ball2{
100%{
    transform: translateX(70px) rotate(360deg);
}
}
@keyframes ball3{
100%{
    transform: translateX(70px) rotate(360deg);
}
}
@keyframes ball4{
100%{
    transform: translateX(70px) rotate(360deg);
}
}

/* <!--  END Rolling balls --> */

/* <!--  ZOOM IN --> */

.zoomin{
width: 406px;
    height: 406px;
    background: black;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom{
width: 380px;
height: 380px;
position: relative; 
overflow: hidden;
}
.zoom div{
position: absolute;
transform: scale(1.1);
animation: zoom .3s linear infinite;


}
.zoom div:nth-child(1)
{
top:20px;
right:20px;
left: 20px;
bottom: 20px;
border: 5px solid yellow;
}
.zoom div:nth-child(2)
{
top:40px;
right:40px;
left: 40px;
bottom: 40px;
border: 4.5px solid yellow;
}

.zoom div:nth-child(3)
{
top:60px;
right:60px;
left: 60px;
bottom: 60px;
border: 4px solid yellow;
}

.zoom div:nth-child(4)
{
top:80px;
right:80px;
left: 80px;
bottom: 80px;
border: 3.5px solid yellow;
}

.zoom div:nth-child(5)
{
top:100px;
right:100px;
left:100px;
bottom: 100px;
border: 3px solid yellow;
}

.zoom div:nth-child(6)
{
top:120px;
right:120px;
left: 120px;
bottom: 120px;
border: 2.5px solid yellow;
}

.zoom div:nth-child(7)
{
top:140px;
right:140px;
left: 140px;
bottom: 140px;
border: 2px solid yellow;
}

.zoom div:nth-child(8)
{
top:160px;
right:160px;
left: 160px;
bottom: 160px;
border: 1.5px solid yellow;
}

.zoom div:nth-child(9)
{
top:180px;
right:180px;
left: 180px;
bottom: 180px;
border: 1px solid yellow;
}
.zoom div:nth-child(10)
{
top:189px;
right:189px;
left: 189px;
bottom: 189px;
border: 0.5px solid yellow;
}
@keyframes zoom{
100%{
    transform: scale(1.5);
}
}


/* <!--  END ZOOM IN --> */




/* <!--  BLINKING BOXES --> */
.blinking{
width: 406px;
    height: 406px;
    background: black;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blinking .boxes{
width: 380px;
height: 380px;
position: relative; 
overflow: hidden;
}
.blinking .boxes div{
position: absolute;
opacity: 0;
animation: blink 2s alternate infinite;
border-radius: 50%;


}
.blinking .boxes div:nth-child(1)
{
top:20px;
right:20px;
left: 20px;
bottom: 20px;
border: 5px solid yellow;
animation-delay:1.8s;
}
.blinking .boxes div:nth-child(2)
{
top:40px;
right:40px;
left: 40px;
bottom: 40px;
border: 4.5px solid yellow;
animation-delay: 1.6s;
}

.blinking .boxes div:nth-child(3)
{
top:60px;
right:60px;
left: 60px;
bottom: 60px;
border: 4px solid yellow;
animation-delay:1.4s;
}

.blinking .boxes div:nth-child(4)
{
top:80px;
right:80px;
left: 80px;
bottom: 80px;
border: 3.5px solid yellow;
animation-delay: 1.2s;
}

.blinking .boxes div:nth-child(5)
{
top:100px;
right:100px;
left:100px;
bottom: 100px;
border: 3px solid yellow;
animation-delay:1s;
}

.blinking .boxes div:nth-child(6)
{
top:120px;
right:120px;
left: 120px;
bottom: 120px;
border: 2.5px solid yellow;
animation-delay:0.8s;
}

.blinking .boxes div:nth-child(7)
{
top:140px;
right:140px;
left: 140px;
bottom: 140px;
border: 2px solid yellow;
animation-delay: 0.6s;
}

.blinking .boxes div:nth-child(8)
{
top:160px;
right:160px;
left: 160px;
bottom: 160px;
border: 1.5px solid yellow;
animation-delay: 0.4s;
}

.blinking .boxes div:nth-child(9)
{
top:180px;
right:180px;
left: 180px;
bottom: 180px;
border: 1px solid yellow;
animation-delay: 0.2s;
}
.blinking .boxes div:nth-child(10)
{
top:189px;
right:189px;
left: 189px;
bottom: 189px;
border: 0.5px solid yellow;
animation-delay: 0s;
}
@keyframes blink{
0%{
  opacity: 0;
}
50%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}

/* <!--  BLINKING BOXES --> */

}
